html {
                                        margin: 0;
                                        padding: 0;
                                        background-color: #129;
                                }
                                body {
                                        width: 90%;
                                        margin: 0 auto;
                                        font-family: Arial, Helvetica, sans-serif;
                                        padding: 1em 50px;
                                        background-color: white;
                                        border-bottom: 10px solid gold;
                                }
                                h1 {
                                        font-family: Georgia, "Comic Sans", Times, serif;
                                        font-style: italic;
                                        font-weight: bold;
                                        font-size: 2em;
                                        margin: 2em 0 .4em;
                                        padding: 5px 10px;
                                        background: rgb(240,120,40);
                                        color: #dfg;
                                }
                                h2 {
                                        color: red;
                                        font-weight: bold;
								
                                }
                                
                                p {
                                        font-size: 1em;
                                        text-align: justify;
                                        line-height: 1.4;
                                        width: 80%;
                                        margin: 0;
                                        margin-bottom: 1em;
                                }
                                a {
                                    text-decoration: none;
                                    color: red;
                                }
                                a:hover {
                                    color: black;
                                }
								.center {
									
									margin-right: 100px;
                                    margin-left: 10px;
                                    margin-bottom: 10px;
									margin-top: 10px
									
								}
                                .flowRight {
                                    float: right;
                                    clear: right;
                                    margin-right: 10px;
                                    margin-left: 10px;
                                    margin_bottom: 1px;
                                    padding: 10px;
                                }
                                .flowLeft {
                                    float: left;
                                    clear: left;
                                    margin-left: 10px;
                                }
                               
                                #header {
                                    border-bottom: 1px solid gray;
                                }
                                #footer {
                                    border-top: 10px solid gray;
                                    text-align: center;
                                    font-size: .8em;
                                    line-height: 4em;
                                    margin-top: 1em;
                                }
								#confirm {
									background-color: #941;
									width: 10%;
									color: white;
									margin-left: 0px;
									
								}
								#confirm:hover{
									color: pink;
								}
								#newgame {
									margin-left: 200px;
									background-color: #595;
								}
                               