/* @font-face rule declarations */
@font-face {
    font-family: 'bearpawregular';
    src: url('_fonts/web_fonts/bearpaw_regular_macroman/BEARPAW_-webfont.eot');
    src: url('_fonts/web_fonts/bearpaw_regular_macroman/BEARPAW_-webfont.eot?#iefix') format('embedded-opentype'),
         url('_fonts/web_fonts/bearpaw_regular_macroman/BEARPAW_-webfont.woff') format('woff'),
         url('_fonts/web_fonts/bearpaw_regular_macroman/BEARPAW_-webfont.ttf') format('truetype'),
         url('_fonts/web_fonts/bearpaw_regular_macroman/BEARPAW_-webfont.svg#bearpawregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '3dumbregular';
    src: url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot');
    src: url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.woff') format('woff'),
         url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.ttf') format('truetype'),
         url('_fonts/web_fonts/3dumb_regular_macroman/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '2dumbregular';
    src: url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.eot');
    src: url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.woff') format('woff'),
         url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.ttf') format('truetype'),
         url('_fonts/web_fonts/2dumb_regular_macroman/2Dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;

}
html, body, h1, h2, h3, p {
    margin: 0;
	padding: 0;
}
html {
    
    background-image: url("http://st.gdefon.com/wallpapers_original/wallpapers/199235_stal_metall_tekstury_1900x1200_(www.GdeFon.ru).jpg");
	background-attachment:fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em auto;
    background: rgba(247,10,42, .3);
}
h1 {
    font-family: 'bearpawregular', "Comic Sans", Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 5em;
	padding: 5px 10px;
	display:inline-block;
    color: #F5F5F2;
}
div#header {
    background: rgba(252,201,58,.5);
	line-height:5em;
	width:100%;
}
.timer {
    font-family: '3dumbregular';
    font-size: 2em;
	font-weight:bold;
	color: #F5F5F2;
	display:inline-block;
	margin-left:3em;
}
#Message {
    color: #F5F5F2;
	font-family: '2dumbregular';
    font-weight: bold;
	display:block;
	padding:1em;
	margin:.1em 1em;
	height:100px;
	font-size:1.5em;
	border: dashed white 5px;
}
p {
	font-family: '3dumbregular';
    font-size: 2em;
	font-weight:bold;
    text-align: justify;
    line-height: 2;
	color: #F5F5F2;
}
.count {
    position:relative;
	display:block;
	margin-right: 3em;
	/* background: rgba(252,201,255,.5); */
}
.count p {
    text-align:right;
}
.menu {
    position:relative;
	display:inline-block;
	margin-top:2em;
	margin-right: 9em;
	margin-left: auto;
	margin-bottom:2em;
	float: right;
    clear:right;
	z-index:2;
}
#confirm, #disarm, #newgame {
    display:block;
	margin-bottom:.5em;
	margin-left: auto;
    margin-right: auto;
}
.mainImage {
    position:relative;
	left:3em;
	display:inline-block;
	width:360px;
	height:670px;
    margin:.2em 1em;
}
.switch_on, .switch_off, .sorry_mario, .dynamite_brown, .explosion{
	background: url(_img/sprites.png) no-repeat;
}

.switch_on {
	background-position: 0 0;
	width: 150px;
	height: 115px;
}
.switch_off{
	background-position: -154px 0;
	width: 150px;
	height: 115px;
}
.sorry_mario{
	background-position: 0 -178px ;
	width: 641px;
	height: 666px;
}
.dynamite_brown {
	background-position: -653px 0;
	width: 575px;
	height: 417px;
}
.explosion{
	background-position: -659px -427px ;
	width: 541px;
	height: 417px;
}
.switches {
    z-index:3;
	margin:1em 3em;
	position:relative;
	float: right;
    clear:right;
	margin-right: 6em;
	margin-left: auto;
}
#switch_1, #switch_2, #switch_3 {
	
	margin:-1px;
    cursor:pointer;
	display:inline-block;
	border-radius:80px;
} 
.button{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:13px;
 -moz-border-radius:13px; 
 border-radius: 13px; 
 font:50px 'bearpawregular', Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3ba4c7; 
 background-image: -moz-linear-gradient(top, #3ba4c7 0%, #1982a5 100%); 
 background-image: -webkit-linear-gradient(top, #3ba4c7 0%, #1982a5 100%); 
 background-image: -o-linear-gradient(top, #3ba4c7 0%, #1982a5 100%); 
 background-image: -ms-linear-gradient(top, #3ba4c7 0% ,#1982a5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982a5', endColorstr='#1982a5',GradientType=0 ); 
 background-image: linear-gradient(top, #3ba4c7 0% ,#1982a5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}.button:hover{
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:13px;
 -moz-border-radius:13px; 
 border-radius: 13px; 
 font:52px 'bearpawregular' Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#578c9e; 
 background-image: -moz-linear-gradient(top, #578c9e 0%, #1c3b45 100%); 
 background-image: -webkit-linear-gradient(top, #578c9e 0%, #1c3b45 100%); 
 background-image: -o-linear-gradient(top, #578c9e 0%, #1c3b45 100%); 
 background-image: -ms-linear-gradient(top, #578c9e 0% ,#1c3b45 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3b45', endColorstr='#1c3b45',GradientType=0 ); 
 background-image: linear-gradient(top, #578c9e 0% ,#1c3b45 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 }
#disarm.button:hover{
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:13px;
 -moz-border-radius:13px; 
 border-radius: 13px; 
 font:52px 'bearpawregular' Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#578c9e; 
 background-image: -moz-linear-gradient(top, #9e5767 0%, #451c28 100%); 
 background-image: -webkit-linear-gradient(top, #9e5767 0%, #451c28 100%); 
 background-image: -o-linear-gradient(top, #9e5767 0%, #451c28 100%); 
 background-image: -ms-linear-gradient(top, #9e5767 0% ,#451c28 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#451c28', endColorstr='#451c28',GradientType=0 ); 
 background-image: linear-gradient(top, #9e5767 0% ,#451c28 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 }
 .button:active, #disarm.button:active {
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:13px;
 -moz-border-radius:13px; 
 border-radius: 13px; 
 font:48px 'bearpawregular', Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#ed0c32; 
 background-image: -moz-linear-gradient(top, #ed0c32 0%, #a51925 100%); 
 background-image: -webkit-linear-gradient(top, #ed0c32 0%, #a51925 100%); 
 background-image: -o-linear-gradient(top, #ed0c32 0%, #a51925 100%); 
 background-image: -ms-linear-gradient(top, #ed0c32 0% ,#a51925 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51925', endColorstr='#a51925',GradientType=0 ); 
 background-image: linear-gradient(top, #ed0c32 0% ,#a51925 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 }
#footer {
    font-size: 1.5em;
    line-height: 1.5;
    background: rgba(252,201,58,.5);
	font-family: '3dumbregular';
    text-align: center;
    color: #F5F5F2;
	vertical-align:middle;
	margin:1em auto;
}
#footer span {
    font-family: '2dumbregular';
	font-size: .8em;
}